system/system/product/priv-app/Velvet/Velvet.apk
system/system/product/priv-app/PrebuiltGmsCore/PrebuiltGmsCore.apk
system/system/product/app/PrebuiltGmail/PrebuiltGmail.apk
system/system/product/app/Photos/Photos.apk
system/system/product/app/YouTube/YouTube.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
system/system/system_ext/apex/com.android.vndk.v29.apex
